.selectize-input {
  background-color: transparent !important;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding-right: 50px !important;
  height: 50px;
  min-height: 50px !important;
  box-shadow: none !important;
}
.selectize-input.focus {
  border-color: #213CC0 !important;
}
.selectize-input .item.active {
  background-color: #213CC0 !important;
}

.daterangepicker .active {
  background-color: #213CC0 !important;
}

.selectize-input [type=select-multiple] {
  height: 24px;
}
