$light-background: #FDF3E9
$light-title-color: #000000
$light-text-color: #63646A

$dark-background: #3C438F
$dark-title-color: #FFFFFF
$dark-text-color: #C4C7EA

$button-background: #FF7442
$button-color: #FFFFFF

.banners
  display: flex
  margin-top: 1rem
  margin-bottom: .5rem
  .banner__item
    background-color: transparent
    background-position: bottom right
    background-repeat: no-repeat
    background-size: contain
    border-radius: 1rem
    font-family: 'Manrope', sans-serif
    padding: 1.5rem
    @media (max-width: 480px)
      background-size: 80%
    &.light
      background-color: $light-background
      color: $light-text-color
    &.dark
      background-color: $dark-background
      color: $dark-text-color
    &-content
      display: flex
      flex-direction: column
      row-gap: .7rem
      @media (min-width: 480px)
        align-items: flex-start
      @media (max-width: 480px)
        margin: .5rem
    &-body
      margin-right: 30%
    &-title
      color: $light-title-color
      font-family: 'Merriweather', serif
      font-weight: 700
      font-style: italic
      font-size: 1.05rem
      line-height: 140%
      padding: 0
      margin: 0
      @media (max-width: 480px)
        margin: 0 20% 0 0
    &-button
      background-color: $button-background
      border-radius: 1.5rem
      color: $button-color
      padding: .5rem 1.5rem
      text-align: center
      &:hover
        background-color: darken($button-background, 5%)
      @media (max-width: 480px)
        margin-top: 3rem
