.dropdown-menu-macos {
    padding: .5rem;
    border-radius: .5rem;

    .dropdown-item {
        border-radius: .25rem;
    }
}

.dropdown-menu-dark {
    color: #dee2e6;
    background-color: #343a40;
    border-color: rgba(0,0,0,.15);
}
