.tabs
  background-color: #eaeff6
  border-radius: .35rem
  display: inline-flex
  align-items: center
  padding: .15rem
  column-gap: .16rem
  .tab
    border-radius: .3rem
    cursor: pointer
    padding: .25rem 1rem
    &.show
      background-color: $orange
      box-shadow: 0 0 .1rem #dde7f1
      color: white
